.popup__container {
    position: relative;
    background-color: white;
    width: 430px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
    }
}